@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,500|Work+Sans&display=swap');

$orange: hsl(27, 94, 46);

$sans-serif-font: 'Work Sans', sans-serif;
$serif-font: 'Merriweather', serif;
